<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zlx.module_login">

    <application
        android:name=".LoginApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.LoginAc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashAc"
            android:theme="@style/AppTheme.Splash" />

    </application>
</manifest>
