<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zlx.module_mine">


    <application>
        <activity android:name=".activity.ScoreRankListAc" />
        <activity android:name=".myscore.MyScoreAc" />
        <activity android:name=".setting.SettingAc" />
        <activity android:name=".aboutus.AboutUsAc" />
        <activity android:name=".mycollect.MyCollectAc" />
        <activity android:name=".activity.OpenSourceAc" />
        <activity android:name=".aboutauthor.AboutAuthorAc" />
        <activity android:name=".activity.MyShareAc" />
        <activity android:name=".activity.ShareArticleAc" />

        <activity android:name=".activity.MineAc" />
        <activity android:name=".language.LanguageSetAc" />
    </application>
</manifest>