<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zlx.module_mine">


    <application>
        <activity android:name=".activity.ScoreRankListAc" />
        <activity android:name=".activity.MyScoreAc" />
        <activity android:name=".activity.SettingAc" />
        <activity android:name=".activity.AboutUs" />
        <activity android:name=".activity.MyCollectAc" />
        <activity android:name=".activity.OpenSourceAc" />
        <activity android:name=".activity.AboutAuthorAc" />
        <activity android:name=".activity.MyShareAc" />
        <activity android:name=".activity.ShareArticleAc" />

        <activity android:name=".activity.MineAc" />
        <activity android:name=".activity.LanguageSetAc" />
    </application>
</manifest>