<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zlx.module_base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application>




    </application>
</manifest>
